aedat==2.1.0
ament-index-python==1.4.0
ament-package==0.14.0
astropy==6.0.1
astropy-iers-data==0.2024.9.16.0.32.21
cmaes==0.11.1
configparser==7.1.0
contourpy==1.3.0
cycler==0.12.1
domain-coordinator==0.10.0
-e git+https://github.com/neuromorphicsystems/dvs_performance_metrics.git@ff8c09b395ed832d55eb2bd56ee8e6a1f6ab24b0#egg=dvs_warping_package
event_stream==1.6.3
fonttools==4.53.1
h5py==3.11.0
imageio==2.35.1
importlib_resources==6.4.5
joblib==1.4.2
kiwisolver==1.4.7
lazy_loader==0.4
loris==0.5.3
matplotlib==3.9.2
networkx==3.2.1
numpy==1.26.4
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
plotly==5.24.1
pyerfa==2.0.1.4
pyparsing==3.1.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rcutils==5.1.5
rosidl-cli==3.1.5
rpyutils==0.2.1
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
six==1.16.0
tenacity==9.0.0
threadpoolctl==3.5.0
tifffile==2024.8.30
tqdm==4.66.5
zipp==3.20.2
